<div>
  <a [routerLink]="['/create']" mat-button color="primary">Ajouter un aliment</a>
</div>

<mat-card fxFlex="500px" fxFlex.xs="100%">
  <mat-card-title>Liste des aliments enregistrées</mat-card-title>
<br>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Ig Column -->
  <ng-container matColumnDef="ig">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ig </th>
    <td mat-cell *matCellDef="let element"> {{element.ig}} </td>
  </ng-container>

  <!-- Carbs Column -->
  <ng-container matColumnDef="carbs">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Carbs </th>
    <td mat-cell *matCellDef="let element"> {{element.carbs}} </td>
  </ng-container>

  <ng-container matColumnDef="supprimer">
    <th mat-header-cell *matHeaderCellDef > Supprimer </th>
    <td mat-cell *matCellDef="let element"><button (click)="delete(element)">Supprimer</button></td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table>
<br>
<mat-paginator #MatPaginator [length]="100"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
</mat-card>
